__pycache__/
*.pyc
*.pyc.*
*.pyo
*.pyd

.venv/
venv/
env/

build/
dist/
build_release/
build_release_check/
dist_demo/
dist_release/
dist_release_check/

.idea/
.vscode/
.DS_Store
Thumbs.db
*.log

# fichiers temporaires Windows / Python
*.tmp
*.bak
tmp_*
*.vsix

# tests / coverage éventuels
.coverage
htmlcov/
.pytest_cache/

# fichiers SQLite éventuels si un jour tu testes localement
*.sqlite3
*.db

dist_windows/
*.exe
*.zip